<body class="bg-main h-100">
    <div class="container main-view-container mt-5" style="height: 90vh;">

        <gridster *ngIf="dashboardTiles.length > 0" [options]="options">
            <ng-template ngFor let-tile [ngForOf]="dashboardTiles">

                <ng-container [ngSwitch]="tile">

                    <gridster-item class="rounded shadow-sm" *ngSwitchCase="tilesType.GlucoseList"  [item]="glucoseListTile.gridsterItem">
                        <app-glucose-list-tile #glucoseListTile [glucoseValues]="glucoseValues" [status]="status"></app-glucose-list-tile>
                    </gridster-item>

                    <gridster-item class="rounded shadow-sm" *ngSwitchCase="tilesType.GlucoseLineChart" [item]="glucoseLineChartTile.gridsterItem">
                        <app-glucose-line-chart-tile #glucoseLineChartTile [glucoseValues]="glucoseValues" [status]="status"></app-glucose-line-chart-tile>
                    </gridster-item>

                    <gridster-item class="rounded shadow-sm" *ngSwitchCase="tilesType.AverageValue" [item]="averageValueTile.gridsterItem">
                        <app-average-value-tile #averageValueTile [glucoseValues]="glucoseValues" [status]="status"></app-average-value-tile>
                    </gridster-item>

                    <gridster-item class="rounded shadow-sm" *ngSwitchCase="tilesType.LongestHigh" [item]="longestHighTile.gridsterItem">
                        <app-longest-high-tile #longestHighTile [glucoseValues]="glucoseValues" [status]="status"></app-longest-high-tile>
                    </gridster-item>


                </ng-container>

                

            </ng-template>
            
        </gridster>
        
    </div>
    
</body>