<body class="bg-main h-100">
    <div class="container main-view-container mt-5" style="height: 90vh;">

        <gridster *ngIf="dashboard.length > 0" [options]="options">
            <gridster-item class="rounded shadow-sm" [item]="dashboard[0]">
                <app-glucose-list-tile [glucoseValues]="glucoseValues" [status]="status"></app-glucose-list-tile>
            </gridster-item>
            <gridster-item class="rounded shadow-sm" [item]="dashboard[1]">
                <app-glucose-line-chart-tile [glucoseValues]="glucoseValues" [status]="status"></app-glucose-line-chart-tile>
            </gridster-item>
            <gridster-item class="rounded shadow-sm" [item]="dashboard[2]">
                <app-average-value-tile [glucoseValues]="glucoseValues" [status]="status"></app-average-value-tile>
            </gridster-item>
            <gridster-item class="rounded shadow-sm" [item]="dashboard[3]">
                <app-longest-high-tile [glucoseValues]="glucoseValues" [status]="status"></app-longest-high-tile>
            </gridster-item>
        </gridster>
        
    </div>
    
</body>