<ng-template [ngIf]="!isLoading" [ngIfElse]="loading">

    <div class="h-100 d-flex">
        <div class="mx-auto my-auto">
            <div class="row h-25">
                <div class="col text-center text-secondary fw-bold">
                    {{title}}
                </div>       
            </div>
            <div [class]="'row h-75' + ' ' + valueClass">
                <div [class]="'col text-center fw-bold' + ' ' + fontSize">
                    {{value}}
                </div>       
            </div>
        </div>
        
    </div>
    
    
</ng-template>


<ng-template #loading>
    <div class="d-flex h-100">
        <div class="mx-auto my-auto">
            
            <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm text-secondary ms-2 me-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>   
    </div>   
</ng-template>