.glucose-list-container{
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

.glucose-list-container:hover{
    overflow-y: scroll;
    overflow: overlay;
}

.inline-text{
    display: inline;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(146, 146, 146);
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(129, 129, 129);
    border-radius: 10px;
  }

  .bi{
    -webkit-text-stroke: 2px;
  }