
<ng-template [ngIf]="glucoseValues.length > 0 && status" [ngIfElse]="loading">

    <div class="glucose-list-container">
    
        <ng-template  ngFor let-glucoseValue [ngForOf]="glucoseValues">
            <div class="row w-100 p-2 m-0 border-bottom">
                <div class="col">
                    <h3 class="inline-text" [ngClass]="{
                        'text-success' : glucoseValue.sgv > status.settings.thresholds.bgLow && glucoseValue.sgv < status.settings.thresholds.bgHigh,
                        'text-warning' : glucoseValue.sgv >= status.settings.thresholds.bgHigh,
                        'text-danger' : glucoseValue.sgv <= status.settings.thresholds.bgLow
                    }">
                        {{glucoseValue.sgv}}
                    </h3>
                    <h6 class="inline-text">{{status.settings.units}}</h6>
                </div>
                <div class="col-auto">
                    <ng-container [ngSwitch]="glucoseValue.direction">

                        <ng-container *ngSwitchCase="'DoubleUp'">
                            <i  class="bi bi-arrow-up fs-4"></i>
                            <i  class="bi bi-arrow-up fs-4"></i>
                        </ng-container>

                        <i *ngSwitchCase="'SingleUp'" class="bi bi-arrow-up fs-4"></i>

                        <i *ngSwitchCase="'FortyFiveUp'" class="bi bi-arrow-up-right fs-4"></i>

                        <i *ngSwitchCase="'Flat'" class="bi bi-arrow-right fs-4"></i>

                        <i *ngSwitchCase="'FortyFiveDown'" class="bi bi-arrow-down-right fs-4"></i>

                        <i *ngSwitchCase="'SingleDown'" class="bi bi-arrow-down fs-4"></i>

                        <ng-container *ngSwitchCase="'DoubleDown'">
                            <i  class="bi bi-arrow-down fs-4"></i>
                            <i  class="bi bi-arrow-down fs-4"></i>
                        </ng-container>

                        <i *ngSwitchCase="'NotComputable'" class="bi bi-x-square fs-4"></i>

                        <i *ngSwitchCase="'RateOutOfRange'" class="bi bi-exclamation-lg fs-4"></i>
                    </ng-container>
                    
                </div>
        
                <div class="col-auto fw-bold">    
                    {{ glucoseValue.dateString | date  : 'short'  }}
                </div>
            </div>
        </ng-template>       
        
    </div>

</ng-template>



<ng-template #loading>
    <div class="glucose-list-container d-flex">
        <div class="mx-auto my-auto">
            <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm text-secondary ms-2 me-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>   
    </div>   
</ng-template>