
<div class="rounded shadow glucose-list">
    <ng-template [ngIf]="glucoseValues.length > 0 && status">
        <ng-template  ngFor let-glucoseValue [ngForOf]="glucoseValues">
            <div class="row w-100 p-2 border-bottom">
                <div class="col">
                    <h3 class="inline-text" [ngClass]="{
                        'text-success' : glucoseValue.sgv > status.settings.thresholds.bgLow && glucoseValue.sgv < status.settings.thresholds.bgHigh,
                        'text-warning' : glucoseValue.sgv >= status.settings.thresholds.bgHigh,
                        'text-danger' : glucoseValue.sgv <= status.settings.thresholds.bgLow
        
                    }">
                        {{glucoseValue.sgv}}
                    </h3>
                    <h6 class="inline-text">{{status.settings.units}}</h6>
                </div>
        
                <div class="col-auto fw-bold">    
                    {{ glucoseValue.dateString | date  : 'short'  }}
                </div>
            </div>
        </ng-template>
       
    </ng-template>
    
</div>
