/* You can add global styles to this file, and also import other style files */

:root {
    --main-bg-color: rgb(233, 233, 233);
  }

html{
    background-color: var(--main-bg-color);
}

.bg-main{
  background-color: var(--main-bg-color);
}

